<div class="jog-panel" style="display: none;" data-bind="visible: loginState.isUser">
    <!-- XY jogging control panel -->
    <div class="jog-panel">
	<div class="row">
	    <div class="span12">
		<div class="row">
			<div class="span4">
			 <div class="row">
			   <div class="print_head_label"><strong>Print Head</strong></div>
				   <div class="aligncenter" style="width:250px;height:1px;border-bottom:1px solid #515151;font-size:0;">-</div> 
			   <div class="span1">
				   <img class="extruder" src="/static/img/printhead.svg">
			   </div>
		       <div class="span2" style="margin-left: 50px">
		        <div class="row">
		        	<span id="control-yinc" class="control_buttons" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('y',2) }" ></span>
		        </div>
		        <div class="row">
		        	<span id="control-xdec" class="control_buttons" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('x',-1) }"></span>
		        	<span class="control_buttons"></span>
		            <span id="control-xinc" class="control_buttons" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('x',1) }"></span>
		        </div>
		        <div class="row">
		            <span id="control-ydec" class="control_buttons" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('y',-1) }"></span>
		        </div>
		       </div>
		     </div> 
		     <div class="row">
		       <div class="span4">
		       	<div class="row">
		            <span id="control-xyhome" class="control_buttons" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendHomeCommand(['x', 'y']) }"></span>
				</div>
		       </div>
		     </div> 
		</div>
			{# center 'column' from the extrude button to the unit slider #}
			<div class="span3" style="margin-top: 20px">
				<div class="row">
					<div class="span1" style="margin-top: 20px">
						<div class="row">
							{# extrude/retract combo box #}
							<span class="input-append control-box">
								<input type="text" class="input-mini text-right" data-bind="value: extrusionAmount, enable: isOperational() && !isPrinting() && loginState.isUser(), attr: {placeholder: settings.printer_defaultExtrusionLength}">
								<span class="add-on">mm</span>
							</span>
						</div>
					</div>
					
					<div class="span2" style="margin-top: 17px">
						<div class="row">
							{# extrude button #}
							<span id="control-extrude" class="extrude_button" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendExtrudeCommand() }"></span>
						</div>
					</div>					
				</div>
				
				<div class="row">
					<div class="span2 offset1">
						<div class="row">
							{# retraction button; figure out if we can redo it without the awkward off-set #}
							<span id="control-retract" class="extrude_button" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendRetractCommand() }"></span>
						</div>
					</div>
				</div>
				
				<div class="row special_margin">
					<div class="control_label span1" style="margin-top:20px; margin-left: 50px">
						<strong>FANS</strong>
					</div>
					<div class="span1" style="margin-top: 15px; margin-left: -10px">
						{# fans on #}
						<span id="control-on" class="control_onoff" data-bind="enable: isOperational() && loginState.isUser(), click: function() { $root.sendCustomCommand({type:'command',command:'M106'}) }"></span>
					</div>
					<div class="span1" style="margin-top: 15px">
						{# fans off #}
						<span id="control-off" class="control_onoff" style="margin-left:-4px" data-bind="enable: isOperational() && loginState.isUser(), click: function() { $root.sendCustomCommand({type:'command',command:'M106 S0'}) }"></span>
					</div>
				</div>
				<div class="row">
					<div class="control_label span1" style="margin-left: 40px">
						<strong>MOTORS</strong>
					</div>
					<div class="span1" style="margin-left: 0px">
						{# motors on #}
						<span id="control-on" class="control_onoff" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendCustomCommand({type:'command',command:'M17'}) }"></span>
					</div>
					{# motors off #}
					<div class="span1">
						<span id="control-off" class="control_onoff" style="margin-left:-4px" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendCustomCommand({type:'command',command:'M18'}) }"></span>
					</div>
				</div>
				
				<div class="row">
					<!-- Jog distance -->
					<div class="distance" style="margin-left: 50px">
						<div class="btn-group" data-toggle="buttons-radio" id="jog_distance">
							<button type="button" id="control-distance01" class="btn distance" data-distance="0.1" data-bind="enable: loginState.isUser()">0.1</button>
							<button type="button" id="control-distance1" class="btn distance" data-distance="1" data-bind="enable: loginState.isUser()">1</button>
							<button type="button" id="control-distance10" class="btn distance active" data-distance="10" data-bind="enable: loginState.isUser()">10</button>
							<button type="button" id="control-distance100" class="btn distance" data-distance="100" data-bind="enable: loginState.isUser()">100</button>
						</div>
					</div>
				</div>
			</div>
			{# right-most column from the platform label to the home button #}
			<div class="span5">
				<div class="row" style="margin-left: 100px">
					<div class="print_head_label"><strong>Platform</strong></div>
				   <div class="alignright" style="width:250px;height:1px;border-bottom:1px solid #515151;font-size:0;">-</div> 
				</div>
				<div class="row">
					<div class="span2" style="margin-top: 17px">
						{# platform #}
						<span id="platform_image" class="platform_display"></span>
					</div>
					<div class="span3" style="margin-top: 17px">
						{# raise/lower platform #}
						<span id="control-raise" class="raise_lower" style="margin-top: -15px" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('z',-1) }"></span>
						<span id="control-lower" class="raise_lower" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('z',1) }"></span>
					</div>					
				</div>
				<div class="row">
					<span id="control-zhome"class="control_buttons" style="margin-top: 35px; margin-left: 60px" data-bind="enable: isOperational() && !isPrinting() && loginState.isUser(), click: function() { $root.sendHomeCommand(['z']) }"></span>
				</div>
				
			</div> {# end span5 #}
			
			
			
			
		</div>
		</div>
	</div>
	</div>
</div>
