<div class="container octoprint-container">
	<a class="fileinput-button" data-bind="css: {disabled: !$root.loginState.isUser()}"><img src="/static/img/upload.svg" class="upload_button"><input id="gcode_upload" type="file" name="file" class="fileinput-button" data-bind="enable: loginState.isUser()"></a>

	<form class="form-search pull-right">
		<input type="text" class="input-block search-query special_margin" data-bind="value: searchQuery, valueUpdate: 'input'" placeholder="{{ _('Search...') }}">
	</form>
</div>

<div class="gcode_files" data-bind="slimScrolledForeach: listHelper.paginatedItems">
	<div class="entry" data-bind="attr: { id: $root.getEntryId($data) }, template: { name: $root.templateFor($data), data: $data }"></div>
	<script type="text/html" id="files_template_machinecode">	
		<div class="container span4">
			<div class="title" data-bind="css: $root.getSuccessClass($data), style: { 'font-weight': $root.listHelper.isSelected($data) ? 'bold' : 'normal' }, text: name"></div>
			<span class="uploaded" data-bind="text: formatTimeAgo(date)"></span><br>
			<span class="size" data-bind="text: formatSize(size)"></span>
			<div class="additionalInfo hide" data-bind="html: $root.getAdditionalData($data)"></div>
		</div>	

		{# because of the 'pull-right' class, the icons are displayed in reverse order #}
		<div class="container octoprint-container">
			{#trash#}
			<div class="btn btn-mini pull-right" data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}"><img src="/static/img/trash.svg" class="file_panel_button"></div>
			{#download#}
			<a class="btn btn-mini pull-right" data-bind="attr: {href: $root.downloadLink($data), css: {disabled: !$root.downloadLink($data)}}"><img src="/static/img/download.svg" class="file_panel_button"></a>
			{#print#}
			<div class="btn btn-mini pull-right" data-bind="click: function() { if ($root.enableSelect($data)) { $root.loadFile($data, true); } else { return; } }, css: {disabled: !$root.enableSelect($data)}"><img src="/static/img/print.svg" class="file_panel_button"></div>
			{#view#}
			<div class="btn btn-mini pull-right" data-bind=""><img src="/static/img/view.svg" class="file_panel_button"></div>
		</div>
	</script>
</div>