<div class="row-fluid">
	<!-- Actual/Targets for extruder temperature -->
    <table class="table table-bordered table-hover span4">
        <tr>
            <th style="width: 24%; text-align: right">{{ _('Actual') }}</th>
            <th style="width: 46%">{{ _('Target') }}</th>
        </tr>
        <!-- ko foreach: tools -->
        <tr data-bind="template: { name: 'temprow-template' }"></tr>
        <!-- /ko -->
    </table>    

	{% if enableTemperatureGraph %}
    <div class="row span8">
        <div id="temperature-graph"></div>
    </div>
    {% endif %}
    
    <table class="table table-bordered table-hover span4" style="margin-left:0px" data-bind="visible: hasBed">
        <tr>
            <th style="width: 24%; text-align: right" data-bind="visible: hasBed">{{ _('Actual') }}</th>
            <th style="width: 46%; text-align: right" data-bind="visible: hasBed">{{ _('Target') }}</th>
        </tr>
		<tr data-bind="template: { name: 'temprow-template', data: bedTemp }, visible: hasBed"></tr>
    </table>

    <div class="row span8" data-bind="visible: hasBed">
        <div id="bed-temperature-graph" data-bind="enable: hasBed"></div>
    </div>

    
    
    <script type="text/html" id="temprow-template">
        <th style="vertical-align: middle" data-bind="text: name"></th>
        <td style="text-align: right; vertical-align: middle" data-bind="html: formatTemperature(actual())"></td>
        <td style="vertical-align: middle; overflow: visible">
            <div class="input-append">
                <input type="text" class="input-mini text-right tempInput" data-bind="attr: {placeholder: cleanTemperature(target()) }, value: newTarget, enable: $root.isOperational() && $root.loginState.isUser(), event: { keyup: function(d, e) {$root.handleEnter(e, 'target', $data);} }">
                <span class="add-on">&deg;C</span>
                <div class="btn-group">
                    <button type="submit" data-bind="click: $parent.setTarget, enable: $root.isOperational() && $root.loginState.isUser()" class="btn">{{ _('Set') }}</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown" data-bind="enable: $root.isOperational() && $root.loginState.isUser()">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <!-- ko foreach: $root.temperature_profiles -->
                        <li>
                            <a href="#" data-bind="click: function() {$root.setTargetFromProfile($parent, $data);}, text: 'Set ' + name + ' (' + ($parent.key() == 'bed' ? bed : extruder) + '&deg;C)'"></a>
                        </li>
                        <!-- /ko -->
                        <li class="divider"></li>
                        <li>
                            <a href="#" data-bind="click: $root.setTargetToZero">{{ _('Off') }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </td>

    </script>
</div>
