@font-face {
	font-family: 'Dosis';
	src: url(../font/Dosis-Regular.woff);
}
body{
	font-family: 'Dosis', sans-serif;
}
.btn{
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:4px 12px;
	margin-bottom:0;
	font-size:14px;
	line-height:20px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	color:#333;
	text-shadow:0 1px 1px rgba(255,255,255,.75);
	background-color:white;
	-moz-linear-gradient(top,#fff,#e6e6e6);
	-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	-webkit-linear-gradient(top,#fff,#e6e6e6);
	-o-linear-gradient(top,#fff,#e6e6e6);
	linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	*background-color:#white;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border:0px;
	*border:0;
	border-bottom-color:#b3b3b3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*margin-left:.3em;
}

.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{
	color:#333;
	background-color:#e6e6e6;
	*background-color:#d9d9d9;
}
.btn:active,.btn.active{
	background-color:#cccccc;
}
.distance {
	margin: 3px;
	border-radius: 6px;
	background-color: white;
}
.btn:first-child{
	*margin-left:0;
}
.btn:hover,.btn:focus{
	color:#333;
	text-decoration:none;
	background-position:0 -15px;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear;
}
.btn:focus{
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
}
.btn.active,.btn:active{
	none;
	outline:0;
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,.btn[disabled]{
	cursor:default;
	none;
	opacity:.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.btn-large{
	padding:11px 19px;
	font-size:17.5px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.btn-large [class^=icon-],.btn-large [class*=" icon-"]{
	margin-top:4px;
}
.btn-small{
	padding:2px 10px;
	font-size:11.9px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.btn-small [class^=icon-],.btn-small [class*=" icon-"]{
	margin-top:0;
}
.btn-mini [class^=icon-],.btn-mini [class*=" icon-"]{
	margin-top:-1px;
}
.btn-mini{
	padding:15 6px;
	font-size:10.5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-right: 30px;
}
.btn-block{
	display:block;
	width:100%;
	padding-left:0;
	padding-right:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.btn-block+.btn-block{
	margin-top:5px;
}
input[type=submit].btn-block,input[type=reset].btn-block,input[type=button].btn-block{
	width:100%;
}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{
	color:rgba(255,255,255,.75);
}
.btn-primary{
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,.25);
	background-color:#006dcc;
	-moz-linear-gradient(top,#08c,#04c);
	-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
	-webkit-linear-gradient(top,#08c,#04c);
	-o-linear-gradient(top,#08c,#04c);
	linear-gradient(to bottom,#08c,#04c);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color:#04c #04c #002a80;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	*background-color:#04c;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{
	color:#fff;
	background-color:#04c;
	*background-color:#003bb3;
}
.btn-primary:active,.btn-primary.active{
	background-color:#039 \9;
}
.btn-warning{
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,.25);
	background-color:#faa732;
	-moz-linear-gradient(top,#fbb450,#f89406);
	-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
	-webkit-linear-gradient(top,#fbb450,#f89406);
	-o-linear-gradient(top,#fbb450,#f89406);
	linear-gradient(to bottom,#fbb450,#f89406);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	border-color:#f89406 #f89406 #ad6704;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	*background-color:#f89406;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{
	color:#fff;
	background-color:#f89406;
	*background-color:#df8505;
}
.btn-warning:active,.btn-warning.active{
	background-color:#c67605 \9;
}
.btn-danger{
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,.25);
	background-color:#da4f49;
	-moz-linear-gradient(top,#ee5f5b,#bd362f);
	-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
	-webkit-linear-gradient(top,#ee5f5b,#bd362f);
	-o-linear-gradient(top,#ee5f5b,#bd362f);
	 linear-gradient(to bottom,#ee5f5b,#bd362f);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	border-color:#bd362f #bd362f #802420;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	*background-color:#bd362f;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{
	color:#fff;
	background-color:#bd362f;
	*background-color:#a9302a;
}
.btn-danger:active,.btn-danger.active{
	background-color:#942a25 \9;
}
.btn-success{
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,.25);
	background-color:#5bb75b;
	-moz-linear-gradient(top,#62c462,#51a351);
	 -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
	-webkit-linear-gradient(top,#62c462,#51a351);
	-o-linear-gradient(top,#62c462,#51a351);
	linear-gradient(to bottom,#62c462,#51a351);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
	border-color:#51a351 #51a351 #387038;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	*background-color:#51a351;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{
	color:#fff;
	background-color:#51a351;
	*background-color:#499249;
}
.btn-success:active,.btn-success.active{
	background-color:#408140 \9;
}
.btn-info{
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,.25);
	background-color:#49afcd;
	-moz-linear-gradient(top,#5bc0de,#2f96b4);
	-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
	-webkit-linear-gradient(top,#5bc0de,#2f96b4);
	-o-linear-gradient(top,#5bc0de,#2f96b4);
	linear-gradient(to bottom,#5bc0de,#2f96b4);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
	border-color:#2f96b4 #2f96b4 #1f6377;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	*background-color:#2f96b4;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{
	color:#fff;
	background-color:#2f96b4;
	*background-color:#2a85a0;
}
.btn-info:active,.btn-info.active{
	background-color:#24748c \9;
}
.btn-inverse{
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,.25);
	background-color:#363636;
	-moz-linear-gradient(top,#444,#222);
	-webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
	-webkit-linear-gradient(top,#444,#222);
	-o-linear-gradient(top,#444,#222);
	linear-gradient(to bottom,#444,#222);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
	border-color:#222 #222 #000;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	*background-color:#222;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-inverse:hover,.btn-inverse:focus,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{
	color:#fff;
	background-color:#222;
	*background-color:#151515;
}
.btn-inverse:active,.btn-inverse.active{
	background-color:#080808 \9;
}
button.btn,input[type=submit].btn{
	*padding-top:3px;
	*padding-bottom:3px;
}
button.btn::-moz-focus-inner,input[type=submit].btn::-moz-focus-inner{
	padding:0;
	border:0;
}
button.btn.btn-large,input[type=submit].btn.btn-large{
	*padding-top:7px;
	*padding-bottom:7px;
}
button.btn.btn-small,input[type=submit].btn.btn-small{
	*padding-top:3px;
	*padding-bottom:3px;
}
button.btn.btn-mini,input[type=submit].btn.btn-mini{
	*padding-top:1px;
	*padding-bottom:1px;
}
.btn-link,.btn-link:active,.btn-link[disabled]{
	background-color:transparent;
	none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.btn-link{
	border-color:transparent;
	cursor:pointer;
	color:#08c;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.btn-link:hover,.btn-link:focus{
	color:#005580;
	text-decoration:underline;
	background-color:transparent;
}
.btn-link[disabled]:hover,.btn-link[disabled]:focus{
	color:#333;
	text-decoration:none;
}
.clearfix{
	*zoom:1;
}
.clearfix:before,.clearfix:after{
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after{
	clear:both;
}
.hide-text{
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level{
	display:block;
	width:100%;
	min-height:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.nowrap{
	white-space:nowrap;
}
.actioncol{
	text-align:center;
	white-space:nowrap;
}
.actioncol a{
	text-decoration:none;
	color:#000;
}
.actioncol a.disabled{
	color:#ccc;
	cursor:default;
}
#navbar .navbar-inner{
/*	background-color:#213140; */
}
#navbar .navbar-inner .brand,#navbar .navbar-inner .nav>li>a{
	text-shadow:0 1px 0 #ccc;
	color:#333;
}
#navbar .navbar-inner .brand .caret,#navbar .navbar-inner .nav>li>a .caret{
	border-bottom-color:#939393;
	border-top-color:#939393;
}
#navbar .navbar-inner .brand:hover .caret,#navbar .navbar-inner .nav>li>a:hover .caret,#navbar .navbar-inner .brand:focus .caret,#navbar .navbar-inner .nav>li>a:focus .caret{
	border-bottom-color:#636363;
	border-top-color:#636363;
}
#navbar .navbar-inner .brand /*span{
	url(../img/tentacle-20x20.png);
}
*/@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
	#navbar .navbar-inner .brand /*span{
	url(../img/tentacle-20x20@2x.png);
}
*/;
}
#navbar .navbar-inner .nav li.dropdown.open>.dropdown-toggle,#navbar .navbar-inner .nav li.dropdown.active>.dropdown-toggle,#navbar .navbar-inner .nav li.dropdown.open.active>.dropdown-toggle{
	background-color:#213140;
}
#navbar .navbar-inner.red{
	background-color:#213140;
}
#navbar .navbar-inner.red .brand,#navbar .navbar-inner.red .nav>li>a{
	text-shadow:0 1px 0 #f67070;
	color:#f2f2f2;
}
#navbar .navbar-inner.red .brand .caret,#navbar .navbar-inner.red .nav>li>a .caret{
	border-bottom-color:#f28d8d;
	border-top-color:#f28d8d;
}
#navbar .navbar-inner.red .brand:hover .caret,#navbar .navbar-inner.red .nav>li>a:hover .caret,#navbar .navbar-inner.red .brand:focus .caret,#navbar .navbar-inner.red .nav>li>a:focus .caret{
	border-bottom-color:#f2bfbf;
	border-top-color:#f2bfbf;
}
#navbar .navbar-inner.red .brand /*span{
	url(../img/tentacle-20x20-light.png);
}
*/@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
	#navbar .navbar-inner.red .brand /*span{
	url(../img/tentacle-20x20-light@2x.png);
}
*/;
}
#navbar .navbar-inner.red .nav li.dropdown.open>.dropdown-toggle,#navbar .navbar-inner.red .nav li.dropdown.active>.dropdown-toggle,#navbar .navbar-inner.red .nav li.dropdown.open.active>.dropdown-toggle{
	background-color:#213140;
}
#navbar .navbar-inner.orange{
	background-color:#213140;
}
#navbar .navbar-inner.orange .brand,#navbar .navbar-inner.orange .nav>li>a{
	text-shadow:0 1px 0 #c2530c;
	color:#333;
}
#navbar .navbar-inner.orange .brand .caret,#navbar .navbar-inner.orange .nav>li>a .caret{
	border-bottom-color:#93552e;
	border-top-color:#93552e;
}
#navbar .navbar-inner.orange .brand:hover .caret,#navbar .navbar-inner.orange .nav>li>a:hover .caret,#navbar .navbar-inner.orange .brand:focus .caret,#navbar .navbar-inner.orange .nav>li>a:focus .caret{
	border-bottom-color:#634430;
	border-top-color:#634430;
}
#navbar .navbar-inner.orange .brand /*span{
	url(../img/tentacle-20x20.png);
}
*/@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
	#navbar .navbar-inner.orange .brand /*span{
	url(../img/tentacle-20x20@2x.png);
}
*/;
}
#navbar .navbar-inner.orange .nav li.dropdown.open>.dropdown-toggle,#navbar .navbar-inner.orange .nav li.dropdown.active>.dropdown-toggle,#navbar .navbar-inner.orange .nav li.dropdown.open.active>.dropdown-toggle{
	background-color:#213140;
}
#navbar .navbar-inner.yellow{
	background-color:#213140;
}
#navbar .navbar-inner.yellow .brand,#navbar .navbar-inner.yellow .nav>li>a{
	text-shadow:0 1px 0 #c2b00c;
	color:#333;
}
#navbar .navbar-inner.yellow .brand .caret,#navbar .navbar-inner.yellow .nav>li>a .caret{
	border-bottom-color:#93892e;
	border-top-color:#93892e;
}
#navbar .navbar-inner.yellow .brand:hover .caret,#navbar .navbar-inner.yellow .nav>li>a:hover .caret,#navbar .navbar-inner.yellow .brand:focus .caret,#navbar .navbar-inner.yellow .nav>li>a:focus .caret{
	border-bottom-color:#635e30;
	border-top-color:#635e30;
}
#navbar .navbar-inner.yellow .brand /*span{
	url(../img/tentacle-20x20.png);
}
*/@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
	#navbar .navbar-inner.yellow .brand /*span{
	url(../img/tentacle-20x20@2x.png);
}
*/;
}
#navbar .navbar-inner.yellow .nav li.dropdown.open>.dropdown-toggle,#navbar .navbar-inner.yellow .nav li.dropdown.active>.dropdown-toggle,#navbar .navbar-inner.yellow .nav li.dropdown.open.active>.dropdown-toggle{
	background-color:#213140;
}
#navbar .navbar-inner.green{
	background-color:#213140;
}
#navbar .navbar-inner.green .brand,#navbar .navbar-inner.green .nav>li>a{
	text-shadow:0 1px 0 #50da00;
	color:#333;
}
#navbar .navbar-inner.green .brand .caret,#navbar .navbar-inner.green .nav>li>a .caret{
	border-bottom-color:#55992e;
	border-top-color:#55992e;
}
#navbar .navbar-inner.green .brand:hover .caret,#navbar .navbar-inner.green .nav>li>a:hover .caret,#navbar .navbar-inner.green .brand:focus .caret,#navbar .navbar-inner.green .nav>li>a:focus .caret{
	border-bottom-color:#446630;
	border-top-color:#446630;
}
#navbar .navbar-inner.green .brand /*span{
	url(../img/tentacle-20x20.png);
}
*/@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
	#navbar .navbar-inner.green .brand /*span{
	url(../img/tentacle-20x20@2x.png);
}
*/;
}
#navbar .navbar-inner.green .nav li.dropdown.open>.dropdown-toggle,#navbar .navbar-inner.green .nav li.dropdown.active>.dropdown-toggle,#navbar .navbar-inner.green .nav li.dropdown.open.active>.dropdown-toggle{
	background-color:#213140;
}
#navbar .navbar-inner.blue{
	background-color:#213140;
}
#navbar .navbar-inner.blue .brand,#navbar .navbar-inner.blue .nav>li>a{
	text-shadow:0 1px 0 #0050da;
	color:#333;
}
#navbar .navbar-inner.blue .brand .caret,#navbar .navbar-inner.blue .nav>li>a .caret{
	border-bottom-color:#2e5599;
	border-top-color:#2e5599;
}
#navbar .navbar-inner.blue .brand:hover .caret,#navbar .navbar-inner.blue .nav>li>a:hover .caret,#navbar .navbar-inner.blue .brand:focus .caret,#navbar .navbar-inner.blue .nav>li>a:focus .caret{
	border-bottom-color:#304466;
	border-top-color:#304466;
}
#navbar .navbar-inner.blue .brand /*span{
	url(../img/tentacle-20x20.png);
}
*/@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
	#navbar .navbar-inner.blue .brand /*span{
	url(../img/tentacle-20x20@2x.png);
}
*/;
}
#navbar .navbar-inner.blue .nav li.dropdown.open>.dropdown-toggle,#navbar .navbar-inner.blue .nav li.dropdown.active>.dropdown-toggle,#navbar .navbar-inner.blue .nav li.dropdown.open.active>.dropdown-toggle{
	background-color:#213140;
}
#navbar .navbar-inner.violet{
	background-color:#213140;
}
#navbar .navbar-inner.violet .brand,#navbar .navbar-inner.violet .nav>li>a{
	text-shadow:0 1px 0 #a774ff;
	color:#f2f2f2;
}
#navbar .navbar-inner.violet .brand .caret,#navbar .navbar-inner.violet .nav>li>a .caret{
	border-bottom-color:#b58df9;
	border-top-color:#b58df9;
}
#navbar .navbar-inner.violet .brand:hover .caret,#navbar .navbar-inner.violet .nav>li>a:hover .caret,#navbar .navbar-inner.violet .brand:focus .caret,#navbar .navbar-inner.violet .nav>li>a:focus .caret{
	border-bottom-color:#d3bff5;
	border-top-color:#d3bff5;
}
#navbar .navbar-inner.violet .brand span{
	url(../img/tentacle-20x20-light.png);
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
	#navbar .navbar-inner.violet .brand /*span{
	url(../img/tentacle-20x20-light@2x.png);
}
*/;
}
#navbar .navbar-inner.violet .nav li.dropdown.open>.dropdown-toggle,#navbar .navbar-inner.violet .nav li.dropdown.active>.dropdown-toggle,#navbar .navbar-inner.violet .nav li.dropdown.open.active>.dropdown-toggle{
	background-color:#213140;
}
#navbar .navbar-inner.black{
	background-color:#213140;
}
#navbar .navbar-inner.black .brand,#navbar .navbar-inner.black .nav>li>a{
	text-shadow:0 1px 0 #5e5e5e;
	color:#f2f2f2;
}
#navbar .navbar-inner.black .brand .caret,#navbar .navbar-inner.black .nav>li>a .caret{
	border-bottom-color:#959595;
	border-top-color:#959595;
}
#navbar .navbar-inner.black .brand:hover .caret,#navbar .navbar-inner.black .nav>li>a:hover .caret,#navbar .navbar-inner.black .brand:focus .caret,#navbar .navbar-inner.black .nav>li>a:focus .caret{
	border-bottom-color:#c4c4c4;
	border-top-color:#c4c4c4;
}
#navbar .navbar-inner.black .brand /*span{
	url(../img/tentacle-20x20-light.png);
}
*/@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
	#navbar .navbar-inner.black .brand /*span{
	url(../img/tentacle-20x20-light@2x.png);
}
*/;
}
#navbar .navbar-inner.black .nav li.dropdown.open>.dropdown-toggle,#navbar .navbar-inner.black .nav li.dropdown.active>.dropdown-toggle,#navbar .navbar-inner.black .nav li.dropdown.open.active>.dropdown-toggle{
	background-color:#213140;
}
#navbar .navbar-inner .brand span{
	background-size:20px 20px;
	background-position:left center;
	padding-left:24px;
	background-repeat:no-repeat;
}
.octoprint-container{
	margin-top:20px;
	height:auto;
}
.octoprint-container .tab-content{
	padding:9px 15px;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	height:auto; 
}
.octoprint-container .nav{
	margin-bottom:0;
}
.octoprint-container .tab-content h1{
	display:block;
	width:100%;
	padding:0;
	margin-bottom:20px;
	font-size:21px;
	line-height:40px;
	color:#333;
	border:0;
	border-bottom:1px solid #E5E5E5;
	font-weight:400;
}
.octoprint-container .accordion-heading .accordion-heading-button{
	float:right;
}
.octoprint-container .accordion-heading .accordion-heading-button a{
	display:inline-block;
	padding:8px 15px;
	font-size:14px;
	line-height:20px;
	color:#000;
	text-decoration:none;
	background:0 0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.octoprint-container .accordion-heading a.accordion-toggle{
	display:inline-block;
}
.octoprint-container .accordion-heading [class^=icon-],.octoprint-container .accordion-heading [class*=" icon-"]{
	color:#000;
}
.gcode-info-panel {
	padding: 15px;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
}
.uploaded-gcode-files {
	padding-top: 35px;
	margin-left:0px;
}
.print-control .btn{
	padding-left:4px;
	padding-right:4px;
}
.upload-buttons .btn{
	margin-right:0;
}
table{
	table-layout:fixed;
}
table .popover-title{
	text-overflow:ellipsis;
	word-break:break-all;
}
table th,table td{
	overflow:hidden;
}
table th.gcode_files_name,table td.gcode_files_name{
	text-overflow:ellipsis;
	text-align:left;
	white-space:nowrap;
}
table th.gcode_files_action,table td.gcode_files_action{
	width:90px;
	text-align:center;
	white-space:nowrap;
}
table th.gcode_files_action a,table td.gcode_files_action a{
	text-decoration:none;
	color:#000;
}
table th.gcode_files_action a.disabled,table td.gcode_files_action a.disabled{
	color:#ccc;
	cursor:default;
}
table th.timelapse_files_name,table td.timelapse_files_name{
	text-overflow:ellipsis;
	text-align:left;
}
table th.timelapse_files_size,table td.timelapse_files_size{
	text-align:right;
	width:55px;
}
table th.timelapse_files_action,table td.timelapse_files_action{
	width:45px;
	text-align:center;
	white-space:nowrap;
}
table th.timelapse_files_action a,table td.timelapse_files_action a{
	text-decoration:none;
	color:#000;
}
table th.timelapse_files_action a.disabled,table td.timelapse_files_action a.disabled{
	color:#ccc;
	cursor:default;
}
table th.settings_users_name,table td.settings_users_name{
	text-overflow:ellipsis;
	text-align:left;
}
table th.settings_users_active,table td.settings_users_active,table th.settings_users_admin,table td.settings_users_admin{
	text-align:center;
	width:55px;
}
table th.settings_users_actions,table td.settings_users_actions{
	width:60px;
	text-align:center;
	white-space:nowrap;
}
table th.settings_users_actions a,table td.settings_users_actions a{
	text-decoration:none;
	color:#000;
}
table th.settings_users_actions a.disabled,table td.settings_users_actions a.disabled{
	color:#ccc;
	cursor:default;
}
table th.settings_logs_name,table td.settings_logs_name{
	text-overflow:ellipsis;
	text-align:left;
}
table th.settings_logs_size,table td.settings_logs_size{
	text-align:right;
	width:70px;
}
table th.settings_logs_date,table td.settings_logs_date{
	text-align:left;
	width:130px;
}
table th.settings_logs_action,table td.settings_logs_action{
	width:70px;
	text-align:center;
	white-space:nowrap;
}
table th.settings_logs_action a,table td.settings_logs_action a{
	text-decoration:none;
	color:#000;
}
table th.settings_logs_action a.disabled,table td.settings_logs_action a.disabled{
	color:#ccc;
	cursor:default;
}
table th.settings_printerProfiles_profiles_name,table td.settings_printerProfiles_profiles_name{
	text-overflow:ellipsis;
	text-align:left;
}
table th.settings_printerProfiles_profiles_model,table td.settings_printerProfiles_profiles_model{
	text-align:left;
	width:250px;
}
table th.settings_printerProfiles_profiles_action,table td.settings_printerProfiles_profiles_action{
	width:80px;
	text-align:center;
	white-space:nowrap;
}
table th.settings_printerProfiles_profiles_action a,table td.settings_printerProfiles_profiles_action a{
	text-decoration:none;
	color:#000;
}
table th.settings_printerProfiles_profiles_action a.disabled,table td.settings_printerProfiles_profiles_action a.disabled{
	color:#ccc;
	cursor:default;
}
#temperature-graph{
	height:150px;
	width:100%;
	background-position:center;
	background-repeat:no-repeat;
}
.tab-content,#temperature-graph{
	height:150px;
	width:100%;
	background-position:center;
	background-repeat:no-repeat;
}
#bed-temperature-graph{
	height:150px;
	width:100%;
	background-position:center;
	background-repeat:no-repeat;
}
.tab-content,#bed-temperature-graph{

	height:150px;
	width:100%;
	background-position:center;
	background-repeat:no-repeat;
}

.tab-content,.tab-pane{
	overflow:visible;
}
.tempInput{
	width:50px;
}
#temp_newTemp,#temp_newBedTemp,#speed_innerWall,#speed_outerWall,#speed_fill,#speed_support,#webcam_timelapse_interval,#webcam_timelapse_postRoll{
	text-align:right;
}
ul.dropdown-menu li a{
	cursor:pointer;
}
#connection_ports,#connection_baudrates,#connection_printers{
	width:100%;
}
#offline_overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10000;
	display:none;
}
#offline_overlay_background{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	filter:alpha(opacity=50);
	-moz-opacity:.5;
	-khtml-opacity:.5;
	opacity:.5;
}
#offline_overlay_wrapper{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding-top:60px;
}
#offline_overlay_wrapper .container{
	margin:auto;
}
#webcam_container{
	width:100%;
	position:relative;
	outline:0;
}
#webcam_container .flipH{
	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
}
#webcam_container .flipV{
	-webkit-transform:scaleY(-1);
	-moz-transform:scaleY(-1);
}
#webcam_container .flipH.flipV{
	-webkit-transform:scaleX(-1) scaleY(-1);
	-moz-transform:scaleX(-1) scaleY(-1);
}
#webcam_container .keycontrol_overlay{
	position:absolute;
	left:10px;
	right:10px;
	bottom:10px;
	background:rgba(0,0,0,.5);
	font-size:85%;
	color:#fff;
	padding:0;
}
#webcam_container .keycontrol_overlay kbd{
	border:1px solid #eee;
	border-radius:3px;
	margin-left:2px;
	margin-right:2px;
	font-size:90%;
	padding:2px;
	min-width:1em;
}
#webcam_container .keycontrol_overlay .keycontrol_overlay_heading{
	position:relative;
	padding:10px;
	font-weight:700;
}
#webcam_container .keycontrol_overlay .keycontrol_overlay_column{
	position:relative;
	width:45%;
	padding:10px;
	float:left;
}
#files .gcode_files{
	padding-right:7px;
}
#files .gcode_files .entry{
	padding:5px;
	line-height:20px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	position:relative;
}
#files .gcode_files .entry:hover{
	background-color:#f5f5f5;
}
#files .gcode_files .entry .title{
	text-overflow:ellipsis;
	word-break:break-all;
}
.title{
	margin:auto;
}
#files .gcode_files .entry .uploaded,#files .gcode_files .entry .size,#files .gcode_files .entry .additionalInfo{
	font-size:85%;
	color:#999;
}
#files .gcode_files .entry .action-buttons{
	position:absolute;
	bottom:5px;
	right:5px;
}

#files .gcode_files .entry .additionalInfo{
	padding-bottom:22px;
}
#files .upload-buttons{
	margin-top:10px;
}
#files .form-search{
	text-align:center;
	margin-bottom:5px!important;
	margin-right:20px;
}
#control{
	overflow:hidden;
}
#control .jog-panel{
	float:left;
	margin-right:19px;
}
#control h1{
	text-align:left;
}
#control .jog-panel>div{
	text-align:center;
}
#control .jog-panel>div.distance{
	text-align:left;
}
#control .box{
	width:30px;
	height:30px;
	margin-right:10px;
	margin-bottom:10px;
	padding-left:8px;
}
#control .control-box{
	display:block;
	height:30px;
	margin-bottom:10px;
}
#control .btn-group{
	border: 1px solid;
	margin:10px;
	border-color: #cccccc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:6px;
	*margin-left:.3em;
}
#control .btn-group.distance>.btn{
	width:43px;
	padding:3px 0;
	height:30px;
}
#gcode .progress{
	width:582px;
}
#gcode .progress .bar{
	-webkit-transition:width 0s linear;
	-moz-transition:width 0s linear;
	-o-transition:width 0s linear;
	transition:width 0s linear;
}
#gcode #gcode_layer_slider{
	height:568px;
	float:right;
}
#gcode #gcode_layer_slider .slider-handle{
	width:14px;
	height:14px;
	margin-left:-3px;
	margin-top:-7px;
}
#gcode #gcode_command_slider .slider-handle{
	width:14px;
	height:14px;
	margin-left:-7px;
	margin-top:-3px;
}
#term #terminal-output{
	min-height:340px;
}
.footer ul{
	margin:0;
}
.footer ul li{
	display:inline;
	margin-left:1em;
	font-size:85%;
}
.footer ul li:first-child{
	margin-left:0;
}
.footer ul li a{
	color:#555;
}
.ui-pnotify .alert a{
	color:#c09853;
}
.ui-pnotify .alert-error a,.ui-pnotify .alert-danger a{
	color:#b94a48;
}
.ui-pnotify .alert-success a{
	color:#468847;
}
.ui-pnotify .alert-info a{
	color:#3a87ad;
}
.pnotify_additional_info .pnotify_more{
	font-size:85%;
}
.text-right{
	text-align:right;
}
.overflow_visible{
	overflow:visible!important;
}
.hidden{
	display:none;
}
#drop_overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10000;
	display:none;
}
#drop_overlay.in{
	display:block;
}
#drop_overlay #drop_overlay_background{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	filter:alpha(opacity=50);
	-moz-opacity:.5;
	-khtml-opacity:.5;
	opacity:.5;
}
#drop_overlay #drop_overlay_wrapper{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding-top:60px;
}
#drop_overlay #drop_overlay_wrapper #drop,#drop_overlay #drop_overlay_wrapper #drop_background{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:-200px;
}
#drop_overlay #drop_overlay_wrapper #drop_locally,#drop_overlay #drop_overlay_wrapper #drop_locally_background{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-425px;
	margin-top:-200px;
}
#drop_overlay #drop_overlay_wrapper #drop_sd,#drop_overlay #drop_overlay_wrapper #drop_sd_background{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:25px;
	margin-top:-200px;
}
#drop_overlay #drop_overlay_wrapper .dropzone{
	width:404px;
	height:404px;
	z-index:10001;
	color:#fff;
	font-size:30px;
}
#drop_overlay #drop_overlay_wrapper .dropzone i{
	font-size:50px;
}
#drop_overlay #drop_overlay_wrapper .dropzone .centered{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	width:400px;
	height:400px;
	line-height:40px;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
}
#drop_overlay #drop_overlay_wrapper .dropzone_background{
	width:400px;
	height:400px;
	border:2px dashed #eee;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background-color:#000;
	filter:alpha(opacity=25);
	-moz-opacity:.25;
	-khtml-opacity:.25;
	opacity:.25;
}
#drop_overlay #drop_overlay_wrapper .dropzone_background.hover{
	background-color:#000;
	filter:alpha(opacity=50);
	-moz-opacity:.5;
	-khtml-opacity:.5;
	opacity:.5;
}
#drop_overlay #drop_overlay_wrapper .dropzone_background.fade{
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-ms-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out;
	opacity:1;
}
.icon-sd-black-14{
	background:url(../img/icon-sd-black-14.png) 0 3px no-repeat;
	width:11px;
	height:17px;
	display:inline-block!important;
}
.download_button{
	background:url(../img/download.svg) no-repeat;
	width:15px;
	height:15px;
	padding-left:100px;
}
.wifi_icon{
	height: 40px;
	width: 40px;
	margin-right: 10px;
}
.otam_icon{
	height: 40px;
	width: 40px;
}
.upload_button{
	display:block;
	height: 70px;
	width: 200px;
}
.special_margin{
	margin-top: 50px;
}
.file_panel_button{
	height: 15px;
	width: 15px;
}
.center{
	float:none;
	margin-left:auto;
	margin-right:auto;
}
.slider .slider-selection{
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,.25);
	background-color:#006dcc;
	-moz-linear-gradient(top,#08c,#04c);
	-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
	-webkit-linear-gradient(top,#08c,#04c);
	-o-linear-gradient(top,#08c,#04c);
	linear-gradient(to bottom,#08c,#04c);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color:#04c #04c #002a80;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	*background-color:#04c;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.slider .slider-selection:hover,.slider .slider-selection:focus,.slider .slider-selection:active,.slider .slider-selection.active,.slider .slider-selection.disabled,.slider .slider-selection[disabled]{
	color:#fff;
	background-color:#04c;
	*background-color:#003bb3;
}
.slider .slider-selection:active,.slider .slider-selection.active{
	background-color:#039 \9;
}
.slider.slider-disabled .slider-selection{
	none;
	opacity:.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.slider .slider-track{
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
}
.slider.slider-disabled .slider-track{
	none;
	opacity:.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.slider .slider-handle{
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:4px 12px;
	font-size:14px;
	line-height:20px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	color:#333;
	text-shadow:0 1px 1px rgba(255,255,255,.75);
	background-color:#f5f5f5;
	-moz-linear-gradient(top,#fff,#e6e6e6);
	-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	-webkit-linear-gradient(top,#fff,#e6e6e6);
	-o-linear-gradient(top,#fff,#e6e6e6);
	linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	*background-color:#e6e6e6;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border:1px solid #ccc;
	*border:0;
	border-bottom-color:#b3b3b3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*margin-left:.3em;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	padding:0;
	margin-bottom:0;
	opacity:1;
	filter:alpha(opacity=100);
}
.slider .slider-handle:hover,.slider .slider-handle:focus,.slider .slider-handle:active,.slider .slider-handle.active,.slider .slider-handle.disabled,.slider .slider-handle[disabled]{
	color:#333;
	background-color:#e6e6e6;
	*background-color:#d9d9d9;
}
.slider .slider-handle:active,.slider .slider-handle.active{
	background-color:#ccc \9;
}
.slider .slider-handle:first-child{
	*margin-left:0;
}
.slider .slider-handle:hover,.slider .slider-handle:focus{
	color:#333;
	text-decoration:none;
	background-position:0 -15px;
	-webkit-transition:background-position .1s linear;
	-moz-transition:background-position .1s linear;
	-o-transition:background-position .1s linear;
	transition:background-position .1s linear;
}
.slider .slider-handle:focus{
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px;
}
.slider .slider-handle.active,.slider .slider-handle:active{
	none;
	outline:0;
	-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
	box-shadow:inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
}
.slider .slider-handle.disabled,.slider .slider-handle[disabled]{
	cursor:default;
	none;
	opacity:.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.slider .slider-handle.hide{
	display:none;
}
.slider .slider-handle.round{
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.status_percentage {
	margin-left: 0px;
	display: box;
	height: 144px;
	background-color: #cccccc;
	padding-top: 13px;
	-webkit-clip-path: inset(0% 0% 0% 0% round 0% 0% 0% 0%);
}
.status_percentage strong {
	margin-left: 5px;
	color: white;
	font-family: Helvetica;
	font-weight: 100;
	font-size: large;
	text-transform: uppercase;
}
.Online {
	background-color: #d17878;
}
.Ready {
	background-color: #d17878;
}
.Printing {
	background-color: #BAEABE;
}
.Paused {
	background-color: #F4F2B5;
}
.Operational {
	background-color: #76bfd3;
}
.Error {
	background-color: #d17878;
}
#inside_box{
  display: block;
  height: 80px;
  background-color: #76D67D;
  margin-top: -33px;
}
#inside_box.Paused {
  background-color: #EAE66C;	
}
.percentage_text {
  margin-top: 34px;
  font-size: 47px;
  color: white;
  opacity: 0.8;
}
#renderArea {
  right: 0;
  bottom: 0;
  top: 0;
  height: 338px;
  width: 600px;
  background-color: #000000;
  margin-left: 0px;
}
#visualize_icons{
  position: absolute;
  right: 14px;
  width: 85px;
  height: 72px;
  margin-top: 3px;
  z-index: 1;
}
#visualizer_wrapper {
  width: 630px;
}
#webcam_button {
  background:url(../img/camera_fill.png) 0 3px no-repeat;
  width:35px;
  height:22px;
  margin-right: 5px;
  display:inline-block!important;
}
#gcode_button {
  background:url(../img/gcode_view_fill.png) 0 3px no-repeat;
  width:35px;
  height:22px;
  display:inline-block!important;
}
#webcam_button.over{
  background:url(../img/camera_wire.png) 0 3px no-repeat;
}
#gcode_button.over{
  background:url(../img/gcode_view_wire.png) 0 3px no-repeat;
}
#extruder_image{
	background:url(../img/home_wire.svg) 0 3px no-repeat;
}
.logo_tam{
 line-height: 2;
 font-size: xx-large;	
 
}
#control-yinc.disabled, #control-yinc[disabled] {
	cursor: default;
	color: #333;
}
#settings_plugin_netconnectd_dialog {
  font-size: 14px; 
}
#settings_plugin_netconnectd_dialog .settings_plugin_netconnectd_wifis_quality {
  display: none;
}
.extruder{
	margin-top: 5px;
	margin-left: 10px;
	width: 80px;
	height:100px;
}
.control_buttons{
  width:35px;
  height:38px;
  margin-right: 5px;
  display:inline-block!important;
}
.control_onoff{
	margin-left: 5px;
	display:inline-block!important;
}
.print_head_label{
	color: #515151;
	font-size: 20px;
    overflow: hidden;
    margin-left: 20px;
    text-align: left;
}
.control_label{
	color: #515151;
	font-size: 15px;
    overflow: hidden;
    margin-left: 20px;
    text-align: center;
}
.extrude_button {
	margin-left: 25px;
	height: 30px;
	width: 100%;
    display:inline-block!important;
}
#control-yinc {
	background:url(../img/arrow_up_wire.svg) 0 2px no-repeat;
	margin-top: 10px;
}
#control-yinc:hover {
	background:url(../img/arrow_up_fill.svg) 0 2px no-repeat;
}
#control-xdec {
	background:url(../img/arrow_left_wire.svg) 0 2px no-repeat;
}
#control-xdec:hover {
	background:url(../img/arrow_left_fill.svg) 0 2px no-repeat;
}
#control-xinc {
	background:url(../img/arrow_right_wire.svg) 0 2px no-repeat;	
}
#control-xinc:hover {
	background:url(../img/arrow_right_fill.svg) 0 2px no-repeat;	
}
#control-ydec {
	background:url(../img/arrow_down_wire.svg) 0 2px no-repeat;
}
#control-ydec:hover {
	background:url(../img/arrow_down_fill.svg) 0 2px no-repeat;
}
#control-xyhome {
	margin-top: 20px;
	background:url(../img/home_wire.svg) 0 3px no-repeat;				
	width: 275px;
	height: 100px;
	padding-bottom: 15px;
}
#control-xyhome:hover {
	background:url(../img/home_fill.svg) 0 3px no-repeat;
}
#control-zhome {
	margin-top: 20px;
	background:url(../img/home_wire.svg) 0 3px no-repeat;				
	width: 275px;
	height: 100px;
	padding-bottom: 15px;
}
#control-zhome:hover {
	background:url(../img/home_fill.svg) 0 3px no-repeat;
}
#control-extrude {
	background:url(../img/extrude_wire.svg) 0 3px no-repeat;
	width: 140px;
	height: 40px;
}
#control-extrude:hover {
	background:url(../img/extrude_fill.svg) 0 3px no-repeat;
}
#control-retract {
	margin-top: -10px;
	background:url(../img/retract_wire.svg) 0 3px no-repeat;
	width: 140px;
	height: 40px;
}
#control-retract:hover {
	background:url(../img/retract_fill.svg) 0 3px no-repeat;
}
#control-on {
	background:url(../img/on_button_wire.svg) 0 3px no-repeat;
	width: 70px;
	height: 40px;
}
#control-on:hover {
	background:url(../img/on_button_fill.svg) 0 3px no-repeat;
}
#control-off {
	background:url(../img/off_button_wire.svg) 0 3px no-repeat;
	width: 70px;
	height: 40px;
}
#control-off {
	background:url(../img/off_button_fill.svg) 0 3px no-repeat;
}
#webcam_image {
	width: 600px;
	height: 350px;
}
#platform_image{
  background:url(../img/platform.svg) 0 3px	no-repeat;
  width: 100px;
  height: 100px;
}
#control-raise{
	background:url(../img/raise_wire.svg) 0 3px no-repeat;	
}
#control-raise:hover {
	background:url(../img/raise_fill.svg) 0 3px no-repeat;	
}
#control-lower{
	background:url(../img/lower_wire.svg) 0 3px no-repeat;
}
#control-lower:hover {
	background:url(../img/lower_fill.svg) 0 3px no-repeat;
}
.platform_display{
	width: 170px;
	height: 210px;
	display:inline-block!important;
	margin-left: 80px;
}
.raise_lower{
	width: 140px;
	height: 40px;
	display:inline-block!important;
}
.load_file_button {
  position: absolute;
  top: 1;
  left: 0;
  bottom: 0;
  right: 1;
  width: 26%;
  height: 16%;
  overflow: auto;
  margin: auto;
}

