<div id="visualize_icons">
	<span id="webcam_button" data-bind="click: toggle_webcam_view, css: { over: webcam_view }" ></span>
	<span id="gcode_button" data-bind="click: toggle_gcode_view, css: { over: gcode_view }"></span>
</div>
<div id="renderArea" class="gcode_viewer span4" style="position:relative" data-bind="visible: gcode_view">
	<button class="load_file_button" data-bind="click: render_3dpreview, visible: isFileLoaded">Render Printing File</button>
	<div id="LoadingImage" style="display: none">
	</div>
</div>
{% if webcamStream %}
    <div id="webcam_container" tabindex="0" data-bind="visible: webcam_view">
        <img id="webcam_image" data-bind="css: { flipH: webcam_flipH(), flipV: webcam_flipV() }">
    </div>
{% endif %}
