<div class="logo_tam"> 
	<span><img src="/static/img/typea_text_logo.png"/>&nbsp;&nbsp; 
		<a id="navbar_show_settings" class="pull-right" href="#settings_dialog" data-bind="click: show">
			<img src="/static/img/settings.svg" class="otam_icon">
		</a>
		<a href="#" id="wifi_popover" class="pop_over" rel="popover" data-placement="bottom" data-original-title="WiFi Settings"><img src="/static/img/wifi.svg" class="wifi_icon"></a>
	</span>
</div>
